weechat/logs/*
weechat/weechat.log
vim/.netrwhist
tmux/plugins/*
tmux/resurrect/*
.DS_Store
backup/*

# This file contains sensitive data so it not suppose
# to be shared on git repo
weechat/irc.conf
